<!DOCTYPE html PUBLIC "-//W3C//Dtd XHTML 1.1 Strict//EN" "http://www.w3.org/TR/xhtml1/Dtd/xhtml1-strict.dtd">
<html xml:lang="es" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <title>Parsimotion</title>   
        <link href="~/Content/error.css" rel="stylesheet" />
    </head>

    <body>
        <div id="wrapper">
            <div id="main">
                <div id="container">
                    <div align="center"><img src="~/Content/isotipo.png" /></div>
                    <div class="statement">
                        <h1>No se puede acceder a Parsimotion <span class="emoticon">:(</span></h1>
                        <p class="subtitle">Estamos realizando tareas de mantenimiento, inténtalo de nuevo más tarde<br/></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>